
###> symfony/framework-bundle ###
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/docker/.env
/.idea/codeception.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/phpspec.xml
/.idea/phpunit.xml
/.idea/commandlinetools/Symfony_7_5_24__11_09_PM.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/docker/docker-compose.override.yaml

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/.env.test
/.phpunit.cache/test-results
